main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header {
  min-height: 6rem;
}

.pet {
  display: flex;
  flex-direction: row;
  background-color: #444;
  gap: 1rem;
  padding: 0.5rem;
}

.infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type='search'] {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.record {
  border: 2px solid #456;
  margin: 0.5rem;

  header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

button {
  display: inline;
  max-height: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    display: block;
  }
}
